.navbar{
    background-color: #36454F;
    
}
.navbar>span{
    color: white;
    margin-left: 20px;
}

.navbar>a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

form{
    width: 50%;
    margin-top: 15px;
    
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
      
}

form>.form-group>label{
    font-weight: bold;
    color: #5DA111;
}

form>.form-group>textarea{
    resize: none;
}

form>.button>button{
   margin-top: 20px;
   background-color: #5DA111;
}

button>a{
    text-decoration: none;
    color: white;
}
button>a:hover{
    text-decoration: none;
    color: white;
}
.addProduct>button{
    background-color: #5DA111;
}