.navbar{
    background-color: #36454F;
    
}
.navbar>span{
    color: white;
    margin-left: 20px;
}

.navbar>a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.top-links{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-left{
    margin-left: 20px;
    margin-top: 10px;
}

.btn-left>.btn>a{
    text-decoration: none !important;
    color: white;
}

.featured-heading{
    color: #5DA111;
    font-weight: bold;
}

.navbar>.navbar>.home{
    
    color: white;
}

.container>.products>.card{
    padding: 10px !important;
}

.container>.products{
    display: flex;
    justify-content: center;
}
